/* Greens - #0a7841, #0a7820 */

/* -------------------- Body style ------------------- */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
  position: relative;
}

/* Headers & Titles (ht) font */

.ht-font {
  font-family: "Questrial", sans-serif;
}

/* -------------- Skip Nav and Home content btn -------------- */

.go-to-main-link {
  position: absolute;
  text-decoration: none;
  background: #495a6e;
  color: #fafafa;
  left: 5rem;
  padding: 0.5rem 1.5rem;
  transform: translateY(-120%);
  transition: 400ms ease-in;
}

.go-to-main-link:hover {
  color: #fafafa;
}

.go-to-main-link:focus {
  transform: translateY(0);
  z-index: 1100;
}

/* --------------------- Navigation bar --------------------- */

.navbar {
  padding: 0;
}

.navbar-brand img {
  width: 2.5rem;
  height: auto;
  padding: 0;
}

.nav-link {
  font-weight: 500;
  font-size: 1rem;
  font-family: "Atkinson Hyperlegible", sans-serif;
  letter-spacing: 1px;
  transition: 250ms ease-in-out;
}

.nav-link:hover {
  background: #495a6e;
  color: #fafafa !important;
  transition: 250ms ease-in-out;
}

.navbar-toggler {
  font-size: 1.5rem;
  border: none;
}

/* ---------------------- Second navigation -------------------- */

.second-nav {
  background: #495a6e;
  justify-content: center;
  align-items: center;
}

.second-nav-logo {
  width: 2.5rem;
  height: auto;
}

.scroll-text {
  color: #fafafa;
  font-size: 1.25rem;
}

.second-nav-link {
  color: #fafafa;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.25rem 0.75rem;
  transition: 250ms ease-in-out;
}

.second-nav-link:hover {
  color: #495a6e;
  background: #fafafa;
  transition: 250ms ease-in-out;
}

.second-nav-last-link {
  color: #fafafa;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 1rem;
  padding: 0.25rem 0.75rem;
  transition: 250ms ease-in-out;
}

.second-nav-last-link:hover {
  color: #495a6e;
  background: #fafafa;
  transition: 250ms ease-in-out;
}

/* ----------------------Go to top button -------------------- */

.to-top-btn {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1050;
  font-size: 1.25rem;
  outline: none;
  background-color: #495a6e;
  color: #fafafa;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  border: 2px solid #fafafa;
  transition: 400ms ease-in-out;
}

.to-top-btn:hover {
  color: #495a6e;
  background-color: #fafafa;
  border-color: #495a6e;
  transition: 400ms ease-in-out;
}

/* --------------------- Buttons main style -------------------- */

.btn-main {
  color: #fafafa;
  background-color: #495a6e;
  border: 0.25rem solid #495a6e;
  text-decoration: none;
  transition: ease-in-out 250ms;
}

.btn-main:hover {
  background-color: #fafafa;
  color: #495a6e;
  transition: ease-in-out 250ms;
}

/* ---------------------- Home content --------------------- */

.hero-bg {
  height: 75vh;
  object-fit: cover;
  opacity: 0.9;
  border-radius: 0;
}

.hero-card {
  width: 50rem;
  max-width: 98%;
  border: none;
}

.hero-img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  animation: hero-img 2s;
  -webkit-animation: hero-img 2s;
}

.hero-text {
  padding: 0;
  animation: greet-fade-in 4s;
  -webkit-animation: greet-fade-in 4s;
  margin: 0;
  padding: 0 0 1rem 1rem;
  color: #ffffff;
}

.hero-links {
  padding-right: 1rem;
  animation: greet-fade-in 5s;
  -webkit-animation: greet-fade-in 5s;
}

.hero-links a {
  color: #fafafa;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 200ms ease-in;
}

.continue-icon {
  margin: 0.25rem;
  padding: 0.25rem;
  animation: btn-pulse 1s infinite;
  -webkit-animation: btn-pulse 1s infinite;
  transition: 250ms ease-in-out;
}

.continue-icon:hover {
  transform: scale(105%);
  transition: 250ms ease-in-out;
}

/* ---------------------- About content ------------------------ */

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}

.resume-btn {
  color: #fafafa;
  background: #495a6e;
  border: 0.25rem solid #495a6e;
  padding: 0.5rem 2rem;
  margin: 1rem;
  font-weight: 500;
  max-width: 40%;
  transition: ease-in-out 250ms;
}

.resume-btn:hover {
  color: #495a6e;
  background: #fafafa;
  transition: ease-in-out 250ms;
}

.modal-footer {
  justify-content: center;
  align-items: center;
}

.edu-work-link {
  color: #495a6e;
  text-decoration: none;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  transition: ease-in-out 250ms;
  border-radius: 2px;
}

.edu-work-link:hover {
  background: #495a6e;
  color: #fafafa;
  transition: ease-in-out 250ms;
}

.accordion-button:not(.collapsed) {
  background: #fafafa;
  color: #495a6e;
}

.skill-btn {
  color: #495a6e;
  transition: ease-in-out 250ms;
}

.skill-btn:hover {
  color: #fafafa;
  background: #495a6e;
  transition: ease-in-out 250ms;
}

.lang-bar {
  height: 1.5rem;
}

.achieve-list {
  padding: 0;
}

.achieve-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.achieve-link {
  text-decoration: none;
  color: #495a6e;
  padding: 0.25rem 0.75rem;
  margin: auto 0.25rem;
  border-radius: 0.25rem;
}

.achieve-link:hover {
  background-color: #495a6e;
  color: #fafafa;
  transition: ease-in-out 400ms;
}

.media-img {
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fafafa;
}

.thanks-p {
  background: #495a6e;
  color: #fafafa;
}

/* ------------------ Portfolio content -------------------- */

.portfolio-container {
  background: #495a6e;
}

.project-card {
  transition: 200ms ease-in-out;
}

.project-card:hover {
  transform: scale(103%);
  transition: 200ms ease-in-out;
}

.project-img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.project-4-img {
  max-height: 12rem;
}

.project-info {
  text-align: center;
}

.project-title {
  text-decoration: none;
}

.project-title h5 {
  margin-bottom: 0;
}

.project-links {
  margin: 0.5rem;
  background: #495a6e;
  color: #fafafa;
  border: 2px solid #495a6e;
}

.project-links:hover {
  background: #fafafa;
  color: #495a6e;
}

/* ----------------- Interests content ---------------- */

.hobby-btn {
  color: #495a6e;
  background: #fafafa;
  border: 0.25rem solid #495a6e !important;
  font-family: "Darker Grotesque", sans-serif;
  margin: 0.25rem 1rem;
  font-weight: 500;
}

.active {
  background: #495a6e !important;
  color: #fafafa;
}

.hobby-tab {
  background-color: #fafafa !important;
}

.interest-card-img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 0;
}

.games-tab {
  font-size: clamp(1.25rem, 2vw + 1rem, 2.5rem);
  font-weight: 700;
  background: url(../images/interests/gaming-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------- Contact container ----------------- */

.contact-container {
  background: #333;
}

.input-style {
  border: 0.25rem solid #495a6e;
  font-size: 1.25rem;
  font-weight: 500;
}

.message-btn {
  color: #fafafa;
  background-color: #495a6e;
  border: 0.25rem solid #fafafa;
  padding: 0.5rem 1.5rem;
}

.message-btn:hover {
  color: #000000;
  background: #fafafa;
}

/* ------------------- Footer container -------------------- */

.footer-container {
  background: #495a6e;
  padding-top: 1rem;
}

.footer-nav {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fafafa;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: 250ms ease-in-out;
}

.footer-nav:hover {
  transform: scale(110%);
  transition: 200ms ease-in-out;
}

.footer-logo {
  width: auto;
  height: 2.25rem;
  margin: 0 1rem 0 0;
}

/* ----------------------- Keyframes --------------------------- */

@keyframes hero-img {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes greet-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes btn-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0);
  }
}

/* ---------------------- Media queries ----------------------- */

@media (max-width: 992px) {
  .navbar-brand img {
    width: 2.25rem;
  }
}

@media (max-width: 768px) {
  .hero-card {
    max-width: 90%;
  }

  .project-img {
    height: 100%;
  }

  .project-links {
    margin: 0.25rem;
  }
}

@media (max-width: 575px) {
  .hero-img-sm {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-img {
    height: 11rem;
    width: 11rem;
  }

  .hero-text {
    padding: 0;
  }

  .hero-info {
    padding: 0 0.25rem 0.25rem;
    border-radius: 0;
  }

  .hero-links {
    padding-right: 0;
  }

  .to-top-btn {
    right: 0.75rem;
  }

  .resume-btn {
    font-size: 1rem;
    padding: 0.25rem 1rem;
  }

  .footer-nav {
    margin: 0.25rem;
    padding: 0.25rem;
  }
}

@media (max-height: 450px) {
  .hero-card {
    max-width: 80%;
  }

  .hero-img {
    height: 10rem;
    width: 10rem;
  }

  .hero-text h1 {
    font-size: 1.5rem;
  }
}
