/* -------------------- Body style ------------------- */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
  position: relative;
}

/* --------------------- Navigation bar --------------------- */

.navbar {
  padding: 0;
}

.navbar-brand img {
  width: 3.2rem;
  height: auto;
  padding: 0;
}

.offcanvas-header h5 {
  font-family: "Bonheur Royale", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-item:hover {
  background-color: #e7ebe7;
  transition: 400ms ease-in-out;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000 !important;
  letter-spacing: 1px;
}

.navbar-toggler {
  font-size: 1.4rem;
  border: none;
  box-shadow: none !important;
}

/* ----------------------Go to top button -------------------- */

.to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1099;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background-color: #495a6e;
  color: #ffffff;
  cursor: pointer;
  padding: 0.5rem;
}

.to-top-btn:hover {
  color: #495a6e;
  background-color: #ffffff;
  transition: 400ms ease-in-out;
}

/* ---------------------- Home content --------------------- */

.hero-card {
  border-radius: 0;
}

.hero-img {
  height: 85vh;
  object-fit: cover;
  opacity: 0.5;
  border-radius: 0;
}

.hero-text {
  top: 20%;
  right: 10%;
}

.hero-text h1 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-right: 3rem;
  animation: greet 3s;
  -webkit-animation: greet 3s;
}

.hero-text h4 {
  font-size: 1.6rem;
  animation: sub-title 4s;
  -webkit-animation: sub-title 4s;
}

/* ---------------------- About content ------------------------ */

.modal-btn {
  color: #495a6e;
  border: 1px solid #495a6e;
}

.modal-btn:hover {
  color: #495a6e;
  border: 1px solid #495a6e;
  background-color: #e7ebe7;
  transition: ease-in-out 400ms;
}

.modal-footer {
  justify-content: center;
  align-items: center;
}

.close-modal-btn {
  color: #fafafa;
  background-color: #495a6e;
}

.close-modal-btn:hover {
  background-color: #fafafa;
  border: 1px solid #495a6e;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
  background: #fafafa;
  color: #000;
}

.accordion-button:focus {
  box-shadow: none;
}

.connect-card {
  background: #495a6e;
  color: #fafafa;
}

.achieve-list,
.network-list {
  padding: 0;
}

.achieve-item {
  list-style: none;
}

.achieve-link {
  text-decoration: none;
  color: #495a6e;
  padding: 0.5rem;
}

.achieve-link:hover {
  background: #e7ebe7;
  color: #495a6e;
  transition: ease-in-out 400ms;
}

.net-links {
  background-color: #fafafa;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #495a6e;
}

.network-link {
  text-decoration: none;
  color: #495a6e;
  font-size: 1.5rem;
  margin: 0 !important;
  padding: 0.3rem 0.8rem;
}

.network-link:hover {
  color: #fafafa;
  background-color: #495a6e;
  transition: ease-in-out 400ms;
}

.media-img {
  width: 7em;
  height: 7em;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #fafafa;
}

/* ----------------------- Keyframes --------------------------- */

@keyframes greet {
  from {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
}

@keyframes sub-title {
  from {
    opacity: 0;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}

/* ---------------------- Media queries ----------------------- */

@media (max-width: 992px) {
  .navbar-brand img {
    width: 2.5rem;
  }

  .hero-text {
    top: 10%;
    right: 4%;
  }

  .hero-text h1 {
    margin-right: 2.5rem;
    font-size: 2rem;
  }

  .hero-text h4 {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .hero-text {
    top: 0;
    right: 0;
  }

  .hero-text h1 {
    margin-right: 0;
  }
}
